{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itease B2B</title>
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}"> 
    <link href="{% static 'dist/output.css' %}" rel="stylesheet" />
    <link href="{% static 'dist/flowbite.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dist/apexcharts.css' %}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'dist/flowbite.js' %}" ></script>
    <script src="{% static 'dist/flowbite.min.js' %}" ></script>
</body>
</html>