{% extends '../_base.html' %}
{% block content %}
{% include './navbar.html' %}
{% include './sidebar.html' %}
{% include './cart.html' %}

<div class="p-4 sm:ml-64" style="margin-top: 64px;">
  <form class="max-w-screen-md mx-auto" method="post">
    <h2 class="text-4xl font-extrabold dark:text-white">Place Order</h2>
    {% csrf_token %}
    <div class="mb-5 mt-10">
      <label for="{{ form.retailer.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.retailer.label }}</label>
      <select id="{{ form.retailer.id_for_label }}" name="{{ form.retailer.html_name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          {% for retailer_choice in form.retailer.field.choices %}
              {% if retailer_choice.0 == order_form.retailer.value %}
                  <option value="{{ retailer_choice.0 }}" selected>{{ retailer_choice.1 }}</option>
              {% else %}
                  <option value="{{ retailer_choice.0 }}">{{ retailer_choice.1 }}</option>
              {% endif %}
          {% endfor %}
      </select>
  </div>
    <div class="flex">
      <div class="flex items-center h-5">
          <input id="use-shipping-for-billing" aria-describedby="helper-checkbox-text" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      </div>
      <div class="ms-2 text-sm">
          <label for="helper-checkbox" class="font-medium text-gray-900 dark:text-gray-300">Use shipping address for billing</label>
      </div>
  </div>
    <h4 class="text-2xl mt-2.5 font-bold dark:text-white">Shipping Address</h4>
    {{ shipping_formset.management_form }}
    {% for form in shipping_formset %}
    <div class="shipping-form">
      <div class="grid md:grid-cols-2 md:gap-6 mt-5">
        <div class="mb-5">
          <label for="{{ form.first_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
          <input type="text" name="{{ form.first_name.html_name }}" id="{{ form.first_name.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.first_name.value|default:'' }}" required />
        </div>
        <div class="mb-5">
          <label for="{{ form.last_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
          <input type="text" name="{{ form.last_name.html_name }}" id="{{ form.last_name.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.last_name.value|default:'' }}" required />
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="mb-5">
          <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
          <input type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.email.value|default:'' }}" required />
        </div>
        <div class="mb-5">
          <label for="{{ form.phone.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
          <input type="text" name="{{ form.phone.html_name }}" id="{{ form.phone.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.phone.value|default:'' }}" required />
        </div>
      </div>  
      <div class="mb-5">
        <label for="{{ form.company.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company</label>
        <input type="text" name="{{ form.company.html_name }}" id="{{ form.company.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.company.value|default:'' }}" required />
      </div>
      <div class="mb-5">
        <label for="{{ form.address_1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address Line 1</label>
        <input type="text" name="{{ form.address_1.html_name }}" id="{{ form.address_1.id_for_label }}" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.address_1.value|default:'' }}" required />
      </div>
      <div class="mb-5">
        <label for="{{ form.address_2.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address Line 2</label>
        <input type="text" name="{{ form.address_2.html_name }}" id="{{ form.address_2.id_for_label }}" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.address_2.value|default:'' }}">
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="mb-5">
          <label for="{{ form.city.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
          <input type="text" name="{{ form.city.html_name }}" id="{{ form.city.id_for_label }}" class="block w-full p-2.5 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.city.value|default:'' }}" required />
        </div>
        <div class="mb-5">
          <label for="{{ form.state.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">State</label>
          <input type="text" name="{{ form.state.html_name }}" id="{{ form.state.id_for_label }}" class="block w-full p-2.5 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.state.value|default:'' }}" required />
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="mb-5">
          <label for="{{ form.postcode.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Postcode</label>
          <input type="text" name="{{ form.postcode.html_name }}" id="{{ form.postcode.id_for_label }}" class="block w-full p-2.5 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.postcode.value|default:'' }}" required />
        </div>
        <div class="mb-5">
          <label for="{{ form.country.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
          <input type="text" name="{{ form.country.html_name }}" id="{{ form.country.id_for_label }}" class="block w-full p-2.5 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.country.value|default:'' }}" required />
        </div>
      </div>
    </div>
    {% endfor %}
    <h4 class="text-2xl mt-2.5 font-bold dark:text-white">Billing Address</h4>
    {{ billing_formset.management_form }}
    {% for form in billing_formset %}
      <div class="billing-form">
        <div class="grid md:grid-cols-2 md:gap-6 mt-5">
          <div class="mb-5">
            <label for="{{ form.first_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
            <input type="text" name="{{ form.first_name.html_name }}" id="{{ form.first_name.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.first_name.value|default:'' }}" required />
          </div>
          <div class="mb-5">
            <label for="{{ form.last_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
            <input type="text" name="{{ form.last_name.html_name }}" id="{{ form.last_name.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.last_name.value|default:'' }}" required />
          </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="mb-5">
            <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
            <input type="email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.email.value|default:'' }}" required />
          </div>
          <div class="mb-5">
            <label for="{{ form.phone.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
            <input type="text" name="{{ form.phone.html_name }}" id="{{ form.phone.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.phone.value|default:'' }}" required />
          </div>
        </div>  
        <div class="mb-5">
          <label for="{{ form.company.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company</label>
          <input type="text" name="{{ form.company.html_name }}" id="{{ form.company.id_for_label }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.company.value|default:'' }}" required />
        </div>
        <div class="mb-5">
          <label for="{{ form.address_1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address Line 1</label>
          <input type="text" name="{{ form.address_1.html_name }}" id="{{ form.address_1.id_for_label }}" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.address_1.value|default:'' }}" required />
        </div>
        <div class="mb-5">
          <label for="{{ form.address_2.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address Line 2</label>
          <input type="text" name="{{ form.address_2.html_name }}" id="{{ form.address_2.id_for_label }}" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.address_2.value|default:'' }}">
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="mb-5">
            <label for="{{ form.city.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
            <input type="text" name="{{ form.city.html_name }}" id="{{ form.city.id_for_label }}" class="block w-full p-2.5 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.city.value|default:'' }}" required />
          </div>
          <div class="mb-5">
            <label for="{{ form.state.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">State</label>
            <input type="text" name="{{ form.state.html_name }}" id="{{ form.state.id_for_label }}" class="block w-full p-2.5 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.state.value|default:'' }}" required />
          </div>
        </div>
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="mb-5">
            <label for="{{ form.postcode.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Postcode</label>
            <input type="text" name="{{ form.postcode.html_name }}" id="{{ form.postcode.id_for_label }}" class="block w-full p-2.5 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.postcode.value|default:'' }}" required />
          </div>
          <div class="mb-5">
            <label for="{{ form.country.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Country</label>
            <input type="text" name="{{ form.country.html_name }}" id="{{ form.country.id_for_label }}" class="block w-full p-2.5 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{{ form.country.value|default:'' }}" required />
          </div>
        </div>
      </div>
    {% endfor %}
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 w-full dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      <p class="text-xl text-white dark:text-white">Place Order</p>
    </button>
  </form>
</div>

<script>
  const useShippingForBillingCheckbox = document.getElementById('use-shipping-for-billing');
  const shippingForms = document.querySelectorAll('.shipping-form');
  const billingForms = document.querySelectorAll('.billing-form');

  useShippingForBillingCheckbox.addEventListener('change', function() {
    billingForms.forEach((billingForm, index) => {
      const shippingForm = shippingForms[index];
      const billingInputs = billingForm.querySelectorAll('input');
      const shippingInputs = shippingForm.querySelectorAll('input');

      billingInputs.forEach((billingInput, i) => {
        if (this.checked) {
          billingInput.value = shippingInputs[i].value;
        } else {
          billingInput.value = '';
        }
      });
    });
  });
</script>
{% endblock %}