{% extends '../_base.html' %}
{% block content %}
{% include './navbar.html' %}
{% include './sidebar.html' %}
{% include './cart.html' %}

<div class="p-4 sm:ml-64" style="margin-top: 64px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Error</h1>
                <p>Sorry, an error occurred while processing your request. Please try again later.</p>
                <a href="{% url 'home' %}" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}