{% extends '../_base.html' %}
{% block content %}
{% include './navbar.html' %}
{% include './sidebar.html' %}
{% include './cart.html' %}
<div class="p-4 sm:ml-64 mt-14">
    <div class="w-full h-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
        <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
            <div class="flex items-center">
                <div class="w-12 h-12 rounded-lg dark:bg-gray-700 flex items-center justify-center me-3">
                    <svg class="w-6 h-6 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div>
                    <h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1">Payment Successful</h5>
                    <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Your payment has been processed successfully.</p>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <h6 class="text-xl font-semibold text-gray-900 dark:text-white">Order Details</h6>
                <ul class="mt-2 text-gray-600 dark:text-gray-400">
                    <li>Order ID: {{ order.order_number }}</li>
                    <li>Order Date: {{ order.order_date }}</li>
                    <li>Retailer: {{ order.retailer.first_name }} {{ order.retailer.last_name }} ({{ order.retailer.email }}, {{ order.retailer.phone }})</li>
                    <li>Dealer: {{ order.dealer.first_name }} {{ order.dealer.last_name }} ({{ order.dealer.email }}, {{ order.dealer.phone }})</li>
                </ul>
            </div>
            <div>
                <h6 class="text-xl font-semibold text-gray-900 dark:text-white">Payment Details</h6>
                <ul class="mt-2 text-gray-600 dark:text-gray-400">
                    <li>Payment ID: {{ payment.payment_id }}</li>
                    <li>Payment Amount: ₹{{ payment_response.amount }}</li>                    
                    <li>Payment Method: {{ payment_response.method }}</li>
                    <li>Payment Status: {{ payment_response.status }}</li>
                </ul>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <div>
                <h6 class="text-xl font-semibold text-gray-900 dark:text-white">Billing Address</h6>
                <ul class="mt-2 text-gray-600 dark:text-gray-400">
                    <li>{{ billing_address.first_name }} {{ billing_address.last_name }}</li>
                    {% if billing_address.company %}
                    <li>{{ billing_address.company }}</li>
                    {% endif %}
                    <li>{{ billing_address.address_1 }}</li>
                    {% if billing_address.address_2 %}
                    <li>{{ billing_address.address_2 }}</li>
                    {% endif %}
                    <li>{{ billing_address.city }}</li>
                    {% if billing_address.state %}
                    <li>{{ billing_address.state }}</li>
                    {% endif %}
                    <li>{{ billing_address.postcode }}</li>
                    <li>{{ billing_address.country }}</li>
                </ul>
            </div>
            <div>
                <h6 class="text-xl font-semibold text-gray-900 dark:text-white">Shipping Address</h6>
                <ul class="mt-2 text-gray-600 dark:text-gray-400">
                    <li>{{ shipping_address.first_name }} {{ shipping_address.last_name }}</li>
                    {% if shipping_address.company %}
                    <li>{{ shipping_address.company }}</li>
                    {% endif %}
                    <li>{{ shipping_address.address_1 }}</li>
                    {% if shipping_address.address_2 %}
                    <li>{{ shipping_address.address_2 }}</li>
                    {% endif %}
                    <li>{{ shipping_address.city }}</li>
                    {% if shipping_address.state %}
                    <li>{{ shipping_address.state }}</li>
                    {% endif %}
                    <li>{{ shipping_address.postcode }}</li>
                    <li>{{ shipping_address.country }}</li>
                </ul>
            </div>
        </div>
        <div class="mt-4">
            <h6 class="text-xl font-semibold text-gray-900 dark:text-white">Order Items</h6>
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Product
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Quantity
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Net Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_items %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center">
                                    {% if item.product.images.first %}
                                    <img class="w-10 h-10 rounded-full" src="{{ item.product.images.first.image.url }}" alt="{{ item.product.title }}">
                                    {% else %}
                                    <div class="w-10 h-10 rounded-full bg-gray-300"></div>
                                    {% endif %}
                                    <div class="pl-3">
                                        <div class="text-base font-semibold">{{ item.product.title }}</div>
                                    </div>
                                </div>
                            </th>
                            <td class="px-6 py-4">
                                {{ item.quantity }}
                            </td>
                            <td class="px-6 py-4">
                                {{ item.net_amount }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-6 flex justify-between items-center">
            <a href="{% url 'dealer_order_list' %}" class="text-blue-600 hover:text-blue-700 dark:hover:text-blue-500 font-semibold">View Order History</a>
            <a href="{% url 'dealer_dashboard' %}" class="text-green-600 hover:text-green-700 dark:hover:text-green-500 font-semibold">Continue Shopping</a>
        </div>
    </div>
</div>
{% endblock %}