{% extends '../_base.html' %}
{% block content %}
{% include './navbar.html' %}
{% include './sidebar.html' %}
{% include './cart.html' %}

<div class="p-4 sm:ml-64" style="margin-top: 64px;">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <form action="{% url 'payment_processing' %}" method="POST">
        {% csrf_token %}
       <input type="hidden" name="payment_id" value="{{ payment_id }}">
       <script>
        var options = {
            "key": "{{ settings.RAZORPAY_API_KEY }}",
            "amount": "{{ amount }}",
            "currency": "INR",
            "name": "Itease B2B",
            "description": "Payment Description",
            "order_id": "{{ razorpay_order_id }}",
            "handler": function (response){
                console.log('Payment handler called', response);
                var payment_id = response.razorpay_payment_id;
                var signature = response.razorpay_signature;
                var razorpay_order_id = "{{ razorpay_order_id }}";
                var payment_method = response.method;

                var csrftoken = $('[name=csrfmiddlewaretoken]').val();
    
                // send the payment_id and signature to your backend
                $.post("/dealers/payment_processing/", { 
                    'razorpay_order_id': razorpay_order_id, 
                    'razorpay_payment_id': payment_id, 
                    'payment_method': payment_method,
                    'signature': signature, 
                    'csrfmiddlewaretoken': csrftoken 
                })
                .done(function(data) {
                    console.log('Payment success post completed', data);
                    // Redirect to the payment success page
                    window.location.href = "/dealers/payment_success/" + payment_id + "/";
                    console.log('Payment handler called', response);
                })
                .fail(function(jqxhr, textStatus, error) {
                    var err = textStatus + ", " + error;
                    console.log("Payment success post failed: " + err);
                });
            },
            "prefill": {
                "name": "{{ billing_address.first_name }} {{ billing_address.last_name }}",
                "email": "{{ billing_address.email }}",
                "contact": "{{ billing_address.phone }}",
            }
        };
        try {
            var rzp = new Razorpay(options);
            rzp.open();
        } catch (error) {
            console.error('Error creating Razorpay object or opening dialog', error);
        }
    </script>
    </form>
</div>

{% endblock %}